@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap");
html {
  animation: fadein 2s;
}
:root {
  scroll-padding-top: 70px;
}
h2,
p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
a {
  color: #36403a;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  transition: all 0.5s;
  color: #0d0d0d;
}
* {
  font-family: 'Noto Sans TC', sans-serif;
}
* .token {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 12px;
}
p {
  font-size: 8px;
}
body {
  background-color: #f2f2f2;
}
footer {
  background: #36403a;
  padding: 20px 0;
}
footer >p {
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}
header {
  display: flex;
  height: 60px;
  width: 100%;
  padding: 10px 20px;
  background-color: #dcf2e6;
  position: fixed;
  z-index: 1000;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.5);
}
.brandBox h1 {
  font-weight: 400;
  color: #0d0d0d;
}
.main {
  padding-bottom: 50px;
  margin-top: 110px;
}
.leftAside {
  position: fixed;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  width: 100%;
  display: none;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
nav {
  top: 60px;
}
nav>ul {
  padding: 50px 0px;
}
nav>ul>li {
  list-style: none;
}
nav>ul>li>h4 {
  list-style: none;
  margin: 0px;
}
nav>ul>li>h4>a {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 0.083em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
nav>ul>li>h4>a:hover {
  cursor: pointer;
}
.mobileBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#barBtn {
  margin-right: 15px;
  padding: 5px;
}
#barBtn >i {
  font-size: 24px;
}
.infoBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.infoBox >p,
.infoBox span,
.infoBox i {
  font-size: 12px;
  color: #808080;
  margin: 2.5px 5px 2.5px 0px;
}
.infoBox p,
.infoBox span,
.infoBox a {
  font-weight: 300;
}
.infoBox >p>a {
  text-decoration: none;
  color: #808080;
}
.infoBox >p>a:hover {
  color: #000;
}
.card-body {
  padding: 0;
}
.card-text {
  font-size: 14px !important;
  color: #000 !important;
  margin-top: 15px;
}
.card-text a {
  color: #000 !important;
  font-weight: 400 !important;
}
.card-text img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.card-footer {
  margin-top: 15px;
  background-color: #fff;
  padding: 0;
  border-top: none;
}
.tagBox>li:hover >a {
  color: #000;
}
.tagBox>li:hover >a >i {
  color: #000;
}
.tagBox>li >a {
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
  color: #808080;
}
.tagBox {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.tagBox>li {
  list-style: none;
}
.leftAside>ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.rightAside {
  display: none;
}
.item {
  padding: 20px 20px 20px 20px;
  border: none !important;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.6);
  margin: 0 10px 25px 10px;
  break-inside: avoid;
  counter-increment: item-counter;
}
.item img {
  padding: 15px 0;
}
.waterfall {
  margin: 0 auto;
  column-count: 1;
  column-gap: 0px;
  counter-reset: item-counter;
}
.outter-wrap {
  min-height: 100vh;
  padding: 0;
  display: flex;
}
.category-list,
.toc {
  padding-left: 10px;
  list-style-type: '';
  padding-bottom: 10px;
}
.category-list li:not(.toc>li),
.toc li:not(.toc>li) {
  display: flex;
}
.category-list li,
.toc li {
  font-size: 16px;
  justify-content: space-between;
}
.category-list li a,
.toc li a {
  display: block;
  width: 100%;
  color: #808080;
}
.category-list li span,
.toc li span {
  font-size: 12px;
  margin-left: 5px;
  color: #808080;
  padding: 0px 1.5px;
  border-radius: 5px;
}
.category-list li ol,
.toc li ol {
  padding-left: 1rem;
}
.postArticle {
  padding: 15px 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}
.postArticle img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.container {
  animation: fall 2s;
}
.postWrap {
  margin-top: 110px;
  max-width: 800px;
}
.footerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerInfo >p {
  font-size: 12px;
  color: #808080;
  margin: 0;
}
.readBtn {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
}
.readBtn:hover {
  color: #fff;
  background: #808080;
}
#tags {
  padding-left: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}
#tags >a {
  margin-right: 10px;
  line-height: 35px;
  color: #808080;
}
#tags >a:hover {
  color: #000;
}
.search-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.search-form >input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (min-width: 1080px) {
  nav {
    position: sticky;
  }
  .rightAside {
    display: block;
    padding-top: 60px;
  }
  .rightAside>section {
    border-left: 1px dashed rgba(0,0,0,0.3);
    min-width: 285px;
    position: sticky;
    top: 110px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .rightAside>section >ol {
    padding: 0px;
    list-style: none;
  }
  .main {
    margin-top: 110px;
  }
  .leftAside {
    max-width: 275px;
    position: relative;
    display: block;
    animation: leftopen 2s;
  }
  .waterfall {
    margin: 0 auto;
    column-count: 3;
    column-gap: 0px;
    counter-reset: item-counter;
  }
  #barBtn {
    display: none;
  }
  header {
    padding: 10px 10px 10px 10px;
    background-color: #dcf2e6;
    position: fixed;
  }
@-moz-keyframes leftopen {
    from {
      max-width: 0;
    }
    to {
      max-width: 275px;
    }
}
@-webkit-keyframes leftopen {
    from {
      max-width: 0;
    }
    to {
      max-width: 275px;
    }
}
@-o-keyframes leftopen {
    from {
      max-width: 0;
    }
    to {
      max-width: 275px;
    }
}
@keyframes leftopen {
    from {
      max-width: 0;
    }
    to {
      max-width: 275px;
    }
}
}
@media (min-width: 1400px) {
  .postWrap {
    max-width: 980px;
  }
  .waterfall {
    margin: 0 auto;
    column-count: 3;
    column-gap: 0px;
    counter-reset: item-counter;
  }
  .waterfall .main {
    max-width: 1080px;
  }
  header {
    padding: 15px;
  }
}
@media (min-width: 2200px) {
  .main {
    max-width: 1980px;
  }
}
.card-title {
  margin-bottom: 0;
}
.fa-solid,
.fa-eye {
  color: rgba(0,0,0,0.1) !important;
}
#tagsBtn:hover .fa-solid,
#categoriesBtn:hover .fa-solid {
  color: #000;
}
.category-list-item {
  padding: 3px 0;
}
.category-list-item:hover a,
.category-list-item:hover span {
  color: #000;
}
.input-group input,
.input-group button {
  height: 35px;
  line-height: 1px;
  font-size: 11px;
}
.input-group-input:focus {
  border-color: #a5a5a5;
  box-shadow: none;
}
.input-group-input:-webkit-autofill,
.input-group-input:-webkit-autofill:hover,
.input-group-input:-webkit-autofill:focus,
.input-group-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
.input-group-submit {
  border-radius: 0.375rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #808080;
}
.input-group-submit:hover {
  transition: all 0.5s;
}
.rightAside >section >h4 {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 0.083em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.toc *>span:hover {
  color: #000;
}
.postNext >h4 {
  margin-top: unset;
  margin-bottom: unset;
}
.postNext >h4 >a {
  color: #808080;
}
.postNext >h4 >a:hover {
  color: #000;
}
.postNext >h4 >a:hover >i {
  color: #000;
}
.wl-comment {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(92,92,92,0.2);
}
.wl-meta-head,
.wl-cards,
.wl-loading,
.wl-empty,
.wl-power {
  padding: 15px;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(92,92,92,0.2);
}
.wl-meta-head:not(.wl-cards,
.wl-cards:not(.wl-cards,
.wl-loading:not(.wl-cards,
.wl-empty:not(.wl-cards,
.wl-power:not(.wl-cards,
.wl-meta-head .wl-loading,
.wl-cards .wl-loading,
.wl-loading .wl-loading,
.wl-empty .wl-loading,
.wl-power .wl-loading,
.wl-meta-head .wl-empty),
.wl-cards .wl-empty),
.wl-loading .wl-empty),
.wl-empty .wl-empty),
.wl-power .wl-empty) {
  border-radius: 10px;
}
.wl-meta-head {
  border-bottom-left-radius: unset !important;
  border-bottom-right-radius: unset !important;
}
.wl-power {
  margin-bottom: 2rem;
  border-radius: 10px;
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}
.postArticle h1,
.postArticle h2,
.postArticle h3,
.postArticle h4,
.postArticle h5 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.postArticle h1:hover >.headerlink::after,
.postArticle h2:hover >.headerlink::after,
.postArticle h3:hover >.headerlink::after,
.postArticle h4:hover >.headerlink::after,
.postArticle h5:hover >.headerlink::after {
  content: '#';
  color: #82aaff;
  padding: 0 0.3rem;
}
.postArticle h1 {
  font-size: 40px;
}
.postArticle h2 {
  font-size: 36px;
  padding-bottom: 0.5rem;
  margin-top: 4rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.postArticle h3 {
  font-size: 32px;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.postArticle h4 {
  font-size: 28px;
}
.postArticle h5 {
  font-size: 24px;
}
.postArticle p {
  font-size: 20px;
}
.postArticle .postArticleContent details {
  border-bottom: 1px dashed #000;
  margin-bottom: 2rem;
}
.postArticle .postArticleContent details >summary {
  padding: 0.8rem;
  font-weight: 500;
}
.postArticle .postArticleContent details >* {
  font-size: 0.8rem;
}
.postArticle .postArticleContent details ol,
.postArticle .postArticleContent details ul {
  border-top: 1px dashed #000;
}
.postArticle .postArticleContent details ol li,
.postArticle .postArticleContent details ul li {
  margin-bottom: 1rem;
}
.postArticle .postArticleContent ol,
.postArticle .postArticleContent ul {
  padding: 1rem 2rem;
  margin-bottom: unset;
}
.postArticle .postArticleContent ol li,
.postArticle .postArticleContent ul li {
  font-size: 0.8rem;
}
.postArticle .postArticleContent p >a,
.postArticle .postArticleContent li >a {
  color: #82aaff;
}
.postArticle .postArticleContent p >a:hover,
.postArticle .postArticleContent li >a:hover {
  color: #82aaff;
  text-decoration: underline;
}
.postArticle .postArticleContent blockquote {
  border-left: solid #ccc;
  font-size: 0.8rem;
  padding: 0px 0.8rem;
  font-weight: 500;
}
.postArticle .postArticleContent blockquote >p {
  margin: 0;
  font-size: 16px;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes fall {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 110px;
  }
}
@-webkit-keyframes fall {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 110px;
  }
}
@-o-keyframes fall {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 110px;
  }
}
@keyframes fall {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 110px;
  }
}
