@import "./_breakPoint.styl";
@import "./_varible.styl";

.infoBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    >p, span, i, a {
        font-size: 12px;
        color: gray;
        margin: 2.5px 5px 2.5px 0px;
    }

    p, span, a {
        font-weight: 400;
    }

    >p>a {
        text-decoration: none;
        color: gray;

        &:hover {
            color: black;
        }
    }
}
.card-body {
    padding: 0;
}

.card-text {
    font-size: 14px !important;
    color: black !important;
    margin-top: 15px;

    a {
        color: black !important;
        font-weight: 400 !important;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}

.card-footer {
    margin-top: 15px;
    background-color: white;
    padding: 0;
    border-top: none;
}

.tagBox>li {
    &:hover {
        >a {
            color: black;

            >i {
                color: black;
            }
        }
    }

    >a {
        font-size: 12px;
        margin-left: 5px;
        text-decoration: none;
        color: gray;
    }
}

.tagBox {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.tagBox>li {
    list-style: none;
}

.item {
    padding: 20px 20px 20px 20px;
    border: none !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    margin: 0 10px 25px 10px;
    break-inside: avoid;
    counter-increment: item-counter;

    img {
        padding: 15px 0;
    }
}

.waterfall {
    margin: 0 auto;
    column-count: 1;
    column-gap: 0px;
    counter-reset: item-counter;
}


.footerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >p {
        font-size: 12px;
        color: gray;
        margin: 0;
    }
}

.readBtn {
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
        color: white;
        background: gray;
    }
}

.card-title {
    margin-bottom: 0;
}
.authorNameBox{
    display:flex;
    justify-content: center;
    flex-direction: column;    
}
.avatar{
    display: flex;
    align-items: center;
    img{
        max-width: 110px;
        border-radius: 50%;
    }
}
.authorHeader{
    justify-content: center;
    div{
        padding: 0px 15px;
    }
}
.authorBox {
    padding: 20px 20px 20px 20px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.6);
    margin: 25px 10px;
    .socialBox{
        flex-wrap: wrap;
        align-items: center;
        a{
            margin: 2.5px 2.5px
            border: 1px solid rgba(0,0,0,0.6)
            border-radius: 50% 50%;
            padding: 6px 10px;
        }
        i {
            color: $theme-dark;
            font-size: 25px !important;
        }
    }
}
.authorIntro{
    p{
        font-size: 16px;    
    }
}
.ur-banner{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5)
    border-radius: 10px;
}
+desktop-sm() {
    .waterfall {
        margin: 0 auto;
        column-count: 3;
        column-gap: 0px;
        counter-reset: item-counter;
    }
}
+desktop-lg() {
     .waterfall {
        margin: 0 auto;
        column-count: 3;
        column-gap: 0px;
        counter-reset: item-counter;
        .main {
            max-width: 1080px;
        }
    }
}

.iconLine {
    left: 0px;
    width: 46px;
    background: url('assets/img/brand-icon.png') 0 0;
}

.iconInstagram{
    left: 0px;
    width: 46px;
    background: url('assets/img/brand-icon.png') 0 0;
}

.iconLinkedin{
    left: 0px;
    width: 46px;
    background: url('assets/img/brand-icon.png') 0 0;
}

.iconGithub{
    left: 0px;
    width: 46px;
    background: url('assets/img/brand-icon.png') 0 0;
}