.sprintIcon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(41deg) brightness(103%) contrast(101%);
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("/assets/img/brand-icon.png") -37px 64px;
    background-size: 100px;
}

.withinStationIcon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(41deg) brightness(103%) contrast(101%);
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/assets/img/brand-icon.png") -7px 59px;
    background-size: 100px;
}

.bookmarkIcon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(41deg) brightness(103%) contrast(101%);
    width: 36px;
    height: 43px;
    background: url(/assets/img/brand-icon.png) 1px 39px;
    background-size: 120px;
}

.lineIcon {
    display: inline-block;
    left: 0px;
    width: 43px;
    height: 43px;
    background: url('/assets/img/brand-icon.png') 2px 2px
    background-size: 120px;
}

.instagramIcon {
    display: inline-block;
    left: 0px;
    width: 43px;
    height: 43px;
    background: url('/assets/img/brand-icon.png') 2px -32px;
    background-size: 120px;
}

.linkedinIcon {
    display: inline-block;
    left: 0px;
    width: 43px;
    height: 43px;
    background: url("/assets/img/brand-icon.png") -39px 2px;
    background-size: 120px;
}

.githubIcon {
    display: inline-block;
    left: 0px;
    width: 43px;
    height: 43px;
    background: url("/assets/img/brand-icon.png") -40px 114px;
    background-size: 120px;
}

.authorIcon {
    display: inline-block;
    left: 0px;
    width: 20px;
    height: 20px;
    background: url(/assets/img/brand-icon.png) 19px 75px;
    background-size: 60px;
}

.uponIcon {
    display: inline-block;
    left: 0px;
    width: 20px;
    height: 20px;
    background: url(/assets/img/brand-icon.png) 20px 58px;
    background-size: 60px;
}

.downIcon {
    display: inline-block;
    left: 0px;
    width: 20px;
    height: 20px;
    background: url(/assets/img/brand-icon.png) 20px 113px;
    background-size: 60px;
}

.viewerIcon {
    display: inline-block;
    left: 0px;
    width: 43px;
    height: 43px;
    background: url('/assets/img/brand-icon.png') 39px 108px;
    background-size: 80px;
}

.tagIcon {
    display: inline-block;
    left: 0px;
    width: 20px;
    height: 20px;
    background: url("/assets/img/brand-icon.png") -22px 20px;
    background-size: 60px;
}