.postArticle {
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);

    img {
        max-width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}

.postWrap {
    margin-top: ($header-max-height + 50) px;
    max-width: 800px;
}