@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import "./mixin/_varible.styl";

@import "./mixin/_post.styl"
@import "./mixin/_index.styl";
@import "./mixin/_layout.styl";























@media (min-width: 1080px) {
   



    .waterfall {
        margin: 0 auto;
        column-count: 3;
        column-gap: 0px;
        counter-reset: item-counter;
    }

    #barBtn {
        display: none;
    }

    header {
        padding: 10px 10px 10px 10px;
        background-color: $theme-primary;
        position: fixed;
    }
}

@media (min-width: 1400px) {
    .postWrap {
        max-width: 980px;
    }

    .waterfall {
        margin: 0 auto;
        column-count: 3;
        column-gap: 0px;
        counter-reset: item-counter;

        .main {
            max-width: 1080px;
        }
    }

    header {
        padding: 15px;
    }
}
@media (min-width: 2200px) {
    .main {
        max-width: 1980px;
    }
}