<main class="container postWrap">
  <article class="postArticle">
    <div class="postArticleHeader">
      <h1 class="pt-1">二次封裝實現自己的函式庫：Angular</h1>
      <div class="infoBox">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <p class="waline-pageview-count" data-path="/Dev-Tech/WrapperHighOrderComponent/" />
        </p>
        <span>|</span>
        <p>2023/07/05</p>
        <span>|</span>
        <p>
          
            <a href="/categories/Dev-Tech/ ">Dev Tech </a>
            
        </p>
        <span>|</span>
        <ul class="tagBox">
          
            <li>
              <a href="/tags/JavaScript/">
                <!-- <i class="fa-solid fa-tag"></i>  -->
                <div class="tagIcon"></div>
                JavaScript
              </a>
            </li>
            
            <li>
              <a href="/tags/Angular/">
                <!-- <i class="fa-solid fa-tag"></i>  -->
                <div class="tagIcon"></div>
                Angular
              </a>
            </li>
            
        </ul>
      </div>
    </div>
    <div class="postArticleContent">
      <div class="authorsWordsBox">
        <p class="title">johch3n611u</p>
        <p class="content">這個作者很懶，什麼都沒留下...</p>
      </div>
      <p>曾使用過 Angular 進行開發，使用過二次封裝元件 HOC 來滿足特定的需求和業務邏輯，</p>
<p>我發現以往的做法往往只是針對特定情境封裝了較為死板的二次封裝元件，導致在遇到需求不符或需要修改代碼時，很難進行有效的維護和改進，</p>
<p>有時候，甚至會出現時間久了或開發者離開後，沒有留下文檔的情況，這就讓業務方不得不接受一些奇怪的現象，</p>
<p>改善這種情況非常必要，在本篇文章中將探討如何改善這種情況，包括 Angular 二次封裝元件的注意點、封裝方式，以及一些可能遇到的技術屏障。</p>
<h2 id="二次封裝"><a href="#二次封裝" class="headerlink" title="二次封裝"></a>二次封裝</h2><p>「二次封裝」在所有的程式語言中，我們都要遵守 DRY ( Don’t repeat yourself ) 的原則，不僅適用於機器語言的 0 和 1，也適用於高階語言中的 toString 等等操作，開發人員可以使用高階元件（Higher-order Component, HOC）的原理來封裝現有的元件，以提供額外的功能或更簡單的介面。</p>
<p>在前端開發中，各種 UI 元件庫都是將原生元素進行第一層封裝，例如 W3C 並沒有提供 <code>&lt;my-search /&gt;</code> 元素，因此 UI 元件庫開發者使用 input、button、div 等原生元素，並根據 Search 功能的設計進行封裝。然而，當我們拿到這些元件時，它們可能不符合業務需求，因此我們需要對它們進行二次封裝，例如使用 <code>&lt;my-search&gt; + &lt;autocomplete /&gt;</code> 進行封裝。</p>
<p>然而，如果我們在 <code>&lt;my-search style=&quot;color:red;&quot; onclick&quot;click()&quot;/&gt;</code> 元件中考慮不周，沒有考慮到需要增加 <code>change()</code> 事件，那麼我們就需要去修改父層組件，這樣就不符合 OCP 開放&#x2F;封閉原則，也會導致程式碼難以維護、擴展性差、程式碼重複等問題。</p>
<p>因此我們需要理解框架能否針對這些問題提供解決方案</p>
<h2 id="Vue-二次封裝範例"><a href="#Vue-二次封裝範例" class="headerlink" title="Vue 二次封裝範例"></a>Vue 二次封裝範例</h2><video width="300" height="360" controls>
  <source src="/assets/img/二次封裝.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<p><a target="_blank" rel="noopener" href="https://v.douyin.com/ijV7uPm/">[渡一] UI组件的二次封装</a></p>
<p>父組件</p>
<pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>template</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>MyInput</span> <span class="token attr-name">ref</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inputRef<span class="token punctuation">"</span></span> <span class="token attr-name">v-model</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>data: placeholder=<span class="token punctuation">"</span></span> <span class="token attr-name">address"</span><span class="token punctuation">></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>template</span> <span class="token attr-name">#prepend</span><span class="token punctuation">></span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>el-select</span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Select<span class="token punctuation">"</span></span> <span class="token special-attr"><span class="token attr-name">style</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span><span class="token value css language-css"><span class="token property">width</span><span class="token punctuation">:</span>115px</span><span class="token punctuation">"</span></span></span><span class="token punctuation">></span></span>
          <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>el-option</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>aaa<span class="token punctuation">"</span></span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>1<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
          <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>el-option</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>bbb<span class="token punctuation">"</span></span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>2<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>el-select</span><span class="token punctuation">></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>template</span><span class="token punctuation">></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>template</span> <span class="token attr-name">#append</span><span class="token punctuation">></span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>el-button</span> <span class="token attr-name">:icon</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Search<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>template</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>MyInput</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>template</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span> <span class="token attr-name">setup</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
  <span class="token keyword">import</span> <span class="token punctuation">&#123;</span>
    onMounted<span class="token punctuation">,</span>
    ref
  <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'vue'</span><span class="token punctuation">;</span>
  <span class="token keyword">import</span> MyInput <span class="token keyword">from</span> <span class="token string">'./Components/MyInput.vue'</span>
  <span class="token keyword">const</span> data <span class="token operator">=</span> <span class="token function">ref</span><span class="token punctuation">(</span><span class="token string">''</span><span class="token punctuation">)</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>

<p>子組件</p>
<pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>template</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>my-input<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>el-input</span> <span class="token attr-name">ref</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inp<span class="token punctuation">"</span></span> <span class="token attr-name">v-bind</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>$attrs<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>template</span> <span class="token attr-name">v-for</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>(value, name) in $slots<span class="token punctuation">"</span></span> <span class="token attr-name">#[name]</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>slotData<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>slot</span> <span class="token attr-name">:name</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>name<span class="token punctuation">"</span></span> <span class="token attr-name">v-bind</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>slotData || &#123;&#125;<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>slot</span><span class="token punctuation">></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>template</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>el-input</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>template</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
  <span class="token keyword">export</span> <span class="token keyword">default</span> <span class="token punctuation">&#123;</span>
    <span class="token function">mounted</span><span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token punctuation">&#123;</span>
      <span class="token keyword">const</span> entries <span class="token operator">=</span> Object<span class="token punctuation">.</span><span class="token function">entries</span><span class="token punctuation">(</span><span class="token keyword">this</span><span class="token punctuation">.</span>$refs<span class="token punctuation">.</span>inp<span class="token punctuation">)</span>
      <span class="token keyword">for</span> <span class="token punctuation">(</span><span class="token keyword">const</span> <span class="token punctuation">[</span>key<span class="token punctuation">,</span> value<span class="token punctuation">]</span> <span class="token keyword">of</span> entries<span class="token punctuation">)</span> <span class="token punctuation">&#123;</span>
        <span class="token keyword">this</span><span class="token punctuation">[</span>key<span class="token punctuation">]</span> <span class="token operator">=</span> value<span class="token punctuation">;</span>
      <span class="token punctuation">&#125;</span>
    <span class="token punctuation">&#125;</span>
  <span class="token punctuation">&#125;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>

<h2 id="需要遵守的原則"><a href="#需要遵守的原則" class="headerlink" title="需要遵守的原則"></a>需要遵守的原則</h2><p>以 Vue 與 React 來說提供了蠻多方便組織二次組件屬性與方法，但在 Angular 檢查了一些社群熱度高的組件庫似乎看不到什麼二次封裝的好方法</p>
<p>以 <a target="_blank" rel="noopener" href="https://github.com/akveo/nebular/blob/master/src/framework/theme/components/card/card.component.ts">nebular card</a> 來看，內部就封裝了多個 @HostBinding</p>
<p><a target="_blank" rel="noopener" href="https://juejin.cn/post/7105009142242213925">学会正确地二次封装组件，让同事抱着你的大腿喊大神！</a></p>
<ol>
<li>能夠封裝 UI 樣式、業務邏輯和補充功能</li>
<li>開放&#x2F;封閉原則：組件必須暴露所有的屬性、事件、插槽和方法，以避免多次修改<ul>
<li>vue 透過以下屬性與方法進行二次封裝</li>
<li>屬性 $attrs、事件 $listeners、插槽 slots scopedSlots、方法 $refs</li>
</ul>
</li>
<li>單向資訊流原則：明確哪些是 props，不要修改 props 的資料</li>
<li>單一職責原則：不要封裝資料的接口，應該由父組件請求後注入與業務邏輯解偶</li>
<li>載體分離原則：將內容和載體分離，例如說表單元件應該與彈窗元件分離而不是耦合</li>
<li>實現雙向綁定，簡化事件處理</li>
<li>利用深度選擇器修改組件庫的樣式 &#x2F;deep&#x2F;</li>
</ol>
<p><a target="_blank" rel="noopener" href="https://github.com/UrWebApp/ComponentLibrary/tree/master/AngularLibrary">Angular Library Repo</a></p>
<p>Vue、React 是將子組件包裝成 HOC ，但 NG 希望從父層定義，子組件只需要搭配使用，直接用指令當站位符號，渲染就好</p>
<h2 id="注入物件"><a href="#注入物件" class="headerlink" title="注入物件"></a>注入物件</h2><h3 id="ViewContainerRef：表示一個視圖容器，可以用來創建、插入和移除動態組件。"><a href="#ViewContainerRef：表示一個視圖容器，可以用來創建、插入和移除動態組件。" class="headerlink" title="ViewContainerRef：表示一個視圖容器，可以用來創建、插入和移除動態組件。"></a>ViewContainerRef：表示一個視圖容器，可以用來創建、插入和移除動態組件。</h3><p>通過 ViewContainerRef，可以動態創建一個子視圖並將其插入到容器中。例如，可以通過 ViewContainerRef.createComponent 方法動態創建一個組件，然後通過 ViewContainerRef.insert 方法將它插入到容器中。ViewContainerRef 可以在組件中通過 @ViewChild 或 @ViewChildren 裝飾器進行注入。</p>
<h3 id="ElementRef：表示一個-DOM-元素的引用，可以用來操作和訪問該元素的屬性和方法。"><a href="#ElementRef：表示一個-DOM-元素的引用，可以用來操作和訪問該元素的屬性和方法。" class="headerlink" title="ElementRef：表示一個 DOM 元素的引用，可以用來操作和訪問該元素的屬性和方法。"></a>ElementRef：表示一個 DOM 元素的引用，可以用來操作和訪問該元素的屬性和方法。</h3><p>通過 ElementRef.nativeElement 屬性可以獲取到該元素的 DOM 對象。例如，可以使用 ElementRef.nativeElement.style 屬性來設置元素的樣式。ElementRef 可以在組件中通過 @ViewChild 或 @ViewChildren 裝飾器進行注入。</p>
<h3 id="TemplateRef：表示一個模板的引用，可以用來動態創建和渲染模板。"><a href="#TemplateRef：表示一個模板的引用，可以用來動態創建和渲染模板。" class="headerlink" title="TemplateRef：表示一個模板的引用，可以用來動態創建和渲染模板。"></a>TemplateRef：表示一個模板的引用，可以用來動態創建和渲染模板。</h3><p>通過 TemplateRef.createEmbeddedView 方法可以動態創建一個嵌入式視圖（Embedded View），然後使用 ViewContainerRef.createEmbeddedView 方法將其插入到視圖容器中。TemplateRef 通常用於實現可重複使用的組件或動態生成模板的場景。TemplateRef 可以在組件中通過 @ViewChild 或 @ContentChild 裝飾器進行注入。</p>
<h2 id="指令"><a href="#指令" class="headerlink" title="指令"></a>指令</h2><h3 id="ng-container-指令是一個空容器，用於包裹其他指令或元素，而不會在渲染時創建額外的-DOM-元素。"><a href="#ng-container-指令是一個空容器，用於包裹其他指令或元素，而不會在渲染時創建額外的-DOM-元素。" class="headerlink" title="ng-container 指令是一個空容器，用於包裹其他指令或元素，而不會在渲染時創建額外的 DOM 元素。"></a>ng-container 指令是一個空容器，用於包裹其他指令或元素，而不會在渲染時創建額外的 DOM 元素。</h3><pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-container</span> <span class="token attr-name">*ngIf</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>show<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span><span class="token punctuation">></span></span>Hello, &#123;&#123; name &#125;&#125;!<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-container</span><span class="token punctuation">></span></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span></span></code></pre>

<p>它通常用於條件渲染、循環渲染和結構指令中，以幫助我們組織模板的結構並減少 DOM 元素的數量。</p>
<h3 id="ng-template-指令是一個模板容器，用於定義可重用的模板內容。"><a href="#ng-template-指令是一個模板容器，用於定義可重用的模板內容。" class="headerlink" title="ng-template 指令是一個模板容器，用於定義可重用的模板內容。"></a>ng-template 指令是一個模板容器，用於定義可重用的模板內容。</h3><pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-container</span> <span class="token attr-name">*ngIf</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>show; else myTemplate<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span><span class="token punctuation">></span></span>Hello, &#123;&#123; name &#125;&#125;!<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-container</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-template</span> <span class="token attr-name">#myTemplate</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span><span class="token punctuation">></span></span>Goodbye, &#123;&#123; name &#125;&#125;!<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-template</span><span class="token punctuation">></span></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>

<p>它通常與結構指令（如 ngIf 和 ngFor）一起使用，以定義模板的結構和內容。模板可以包含 HTML 元素、元件、其他指令等，可以通過 TemplateRef 類型的引用在元件中引用和渲染。</p>
<h3 id="ng-content-指令是一個投影容器-只適用於靜態投影-，用於在元件的模板中插入外部內容。-Content-projection"><a href="#ng-content-指令是一個投影容器-只適用於靜態投影-，用於在元件的模板中插入外部內容。-Content-projection" class="headerlink" title="ng-content 指令是一個投影容器 ( 只適用於靜態投影 )，用於在元件的模板中插入外部內容。 ( Content projection )"></a>ng-content 指令是一個投影容器 ( 只適用於靜態投影 )，用於在元件的模板中插入外部內容。 ( Content projection )</h3><p><a target="_blank" rel="noopener" href="https://github.com/angular/angular/issues/8563">Support for Dynamic Content Projection</a></p>
<pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>my-component</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h2</span> <span class="token attr-name">header</span><span class="token punctuation">></span></span>Header<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h2</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">></span></span>Content<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">footer</span><span class="token punctuation">></span></span>Footer<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>my-component</span><span class="token punctuation">></span></span>

<span class="token comment">&lt;!-- inside my-component --></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-content</span> <span class="token attr-name">select</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>[header]<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-content</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-content</span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-content</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-content</span> <span class="token attr-name">select</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>[footer]<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-content</span><span class="token punctuation">></span></span>
<span class="token comment">&lt;!-- typescript
@ContentChild('header') header: any;
@ContentChild('footer') footer: any; 
--></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>

<p>它通常與 ng-template 指令一起使用，以定義可插入的內容，並使用 selector 屬性來指定投影內容的選擇器。投影內容可以是 HTML 元素、元件、其他指令等，可以通過 ContentChild 和 ContentChildren 裝飾器在元件中引用和渲染。</p>
<h3 id="ngTemplateOutlet-是一个指令，它允许我们在组件模板中引用另一个组件或指令的模板。"><a href="#ngTemplateOutlet-是一个指令，它允许我们在组件模板中引用另一个组件或指令的模板。" class="headerlink" title="ngTemplateOutlet 是一个指令，它允许我们在组件模板中引用另一个组件或指令的模板。"></a>ngTemplateOutlet 是一个指令，它允许我们在组件模板中引用另一个组件或指令的模板。</h3><p>它接受一个模板引用作为输入，并将其插入到当前组件的视图中。例如，我们可以使用以下代码片段将另一个组件的模板插入到当前组件的模板中</p>
<pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-container</span> <span class="token attr-name">*ngTemplateOutlet</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>myTemplate<span class="token punctuation">"</span></span> <span class="token attr-name">*ngIf</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>myTemplate else default<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-container</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-template</span> <span class="token attr-name">#default</span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-template</span><span class="token punctuation">></span></span>
<span class="token comment">&lt;!-- 如果沒有傳入則顯示預設 --></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span></span></code></pre>

<h3 id="ngOutletContext-是一个用于在插入模板时提供上下文变量的属性。"><a href="#ngOutletContext-是一个用于在插入模板时提供上下文变量的属性。" class="headerlink" title="ngOutletContext 是一个用于在插入模板时提供上下文变量的属性。"></a>ngOutletContext 是一个用于在插入模板时提供上下文变量的属性。</h3><p>例如，我们可以使用以下代码片段将上下文变量传递给被引用模板</p>
<pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-container</span> <span class="token attr-name">*ngTemplateOutlet</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>myTemplate; context: myContext<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-container</span><span class="token punctuation">></span></span>
<span class="token comment">&lt;!-- or --></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-container</span> <span class="token attr-name">[ngTemplateOutlet]</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>templ<span class="token punctuation">"</span></span> <span class="token attr-name">[ngOutletContext]</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>&#123;context: myContext&#125;<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-container</span><span class="token punctuation">></span></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span></span></code></pre>

<h3 id="router-outlet-指令是一個路由容器，用於在元件的模板中顯示路由器加載的元件。"><a href="#router-outlet-指令是一個路由容器，用於在元件的模板中顯示路由器加載的元件。" class="headerlink" title="router-outlet 指令是一個路由容器，用於在元件的模板中顯示路由器加載的元件。"></a>router-outlet 指令是一個路由容器，用於在元件的模板中顯示路由器加載的元件。</h3><p>它通常在根元件或其它元件的模板中使用，以顯示路由器加載的元件。當路由器導航到一個新的路由時，它會在 router-outlet 中加載該路由對應的元件，並替換掉之前的元件。</p>
<pre class="line-numbers language-markup" data-language="markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-container</span> <span class="token attr-name">*ngIf</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>show<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-template</span> <span class="token attr-name">#myTemplate</span><span class="token punctuation">></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span> <span class="token attr-name">my-content</span><span class="token punctuation">></span></span>Hello, &#123;&#123; name &#125;&#125;!<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-template</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-content</span> <span class="token attr-name">select</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>[my-content]<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-content</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-container</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>router-outlet</span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>router-outlet</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span><span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>

<h2 id="參考"><a href="#參考" class="headerlink" title="參考"></a>參考</h2><ul>
<li><a target="_blank" rel="noopener" href="https://github.com/SAP/spartacus/blob/6d5b7ba81af466df34c1537f7e8c5c0ddc7ffc0d/projects/storefrontlib/cms-structure/page/slot/page-slot.service.ts">spartacus slot</a></li>
<li><a target="_blank" rel="noopener" href="https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/button/button.component.ts">NG-ZORRO</a></li>
<li><a target="_blank" rel="noopener" href="https://stackoverflow.com/questions/66137440/how-i-can-get-the-slot-name-in-which-the-component-is-rendered">How I can get the slot name in which the component is rendered</a></li>
<li><a target="_blank" rel="noopener" href="https://stackoverflow.com/questions/62322629/how-to-pass-html-element-as-child-in-angular-higher-order-components-hoc">How to pass html element as child in Angular Higher Order Components (HOC)?</a></li>
<li><a target="_blank" rel="noopener" href="https://stackoverflow.com/questions/37225722/ng-content-select-bound-variable">ng-content select bound variable</a><ul>
<li>ngContent is only for static projection, so you can’t use it to do any bindings. If you need bindings in your projected content you can use ngTemplateOutlet and ngOutletContext.</li>
<li><a target="_blank" rel="noopener" href="https://github.com/angular/angular/issues/8563">Support for Dynamic Content Projection #8563</a></li>
<li><a target="_blank" rel="noopener" href="https://github.com/angulardart/angular/issues/855">Support for dynamic content projection #855</a></li>
<li><a target="_blank" rel="noopener" href="https://angular.io/guide/dynamic-component-loader">dynamic-component-loader</a></li>
<li><a target="_blank" rel="noopener" href="https://stackblitz.com/run?file=src/app/hero-profile.component.ts">dynamic-component-loader demo</a></li>
<li><a target="_blank" rel="noopener" href="https://github.com/angular/angular/issues/35357">Angular 9：可投影節點改變位置 #35357</a></li>
<li><a target="_blank" rel="noopener" href="https://stackblitz.com/edit/angular-ivy-rc4ebf?file=src/app/app.component.ts">Angular 9：可投影節點改變位置 #35357 demo</a></li>
<li><a target="_blank" rel="noopener" href="https://www.tw511.com/a/01/39236.html">NgTemplateOutlet 提供必要的資料就可以了，樣式、排版這些自由交給使用者</a></li>
</ul>
</li>
</ul>

    </div>
  </article>
  <div class="postNext d-flex justify-content-between mt-3 mb-3">
    
      <h4>
        <a href="/Dev-Tech/CreateFtpClitentWithFactory/">
          <span><<</span>
          <!-- <i class="fa-solid fa-angles-left"></i>  -->
          套用工廠方法設計 FtpClient
        </a>
      </h4>
      
        
          <h4>
            <a href="/Dev-Tech/PathAgMasterGuideLearningBasicsAdvanced/">
              Angular 大師之路：淺出深入的學習指南 
              <span>>></span>
              <!-- <i class="fa-solid fa-angles-right"></i> -->
            </a>
          </h4>
          
  </div>
  
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
    let option = '{"el":"#waline","enable":true,"serverURL":"https://waline-urweb.vercel.app/","placeholder":"歡迎隨時提出您的建議，並不吝指教","avatar":"mm","meta":["nick","mail","link"],"pageSize":10,"lang":"en","visitor":true,"comment_count":true,"requiredFields":["nick","mail"],"libUrl":"https://cdnjs.cloudflare.com/ajax/libs/waline/2.14.5/waline.js","pageview":true,"reaction":true}';
    init(JSON.parse(option));
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
  
    <input style="display:none" onload="addTotalViews()">
</main>