@import "./_breakPoint.styl";
@import "./_varible.styl";
@import "./_articleList.styl";

.main {
    padding-bottom: 50px;
    margin-top: ($header-max-height + 20) px;
}

+desktop-sm() {
    .main {
        margin-top: $header-max-height + 50px;
    }
}
+desktop-lg() {

}
+desktop-xl(){
      .main {
        max-width: 1980px;
    }
}