$font-size = 4px;
$theme-background-color = convert(hexo-config('theme_style.background'));
$theme-light = convert(hexo-config('theme_style.light'));
$theme-dark = convert(hexo-config('theme_style.dark'));
$theme-primary = convert(hexo-config('theme_style.primary'));
$theme-secondary = convert(hexo-config('theme_style.secondary'));
$header-max-height = 60px;